<head>
    <style>
        body {
            background-color: whitesmoke;
        }
                h1 {
            color: blue;
        }

        p {
            color: green;
        }
    </style>
</head>
<form method="POST" action="/">
    <br />
    <p> Welcome to Claim 360 </p>
    <br />

    <br> Member Name <input type="text" name="name" \> <br />

    <br>
    Member Email <input type="email" name="email" size="50" />
    <br>

    <br>
    <input type="submit"/>
    <br>

    <br /> <button type="button">Get Users</button> <br />

</form>